openapi: 3.2.0
info:
  description: For any questions, reach out to your Attentive point of contact (if applicable) or api@attentivemobile.com.
  title: Attentive Product Catalog API
  version: ''
servers:
- url: https://api.attentivemobile.com/v1
  description: Attentive API
security:
- bearerAuth: []
tags:
- name: Product Catalog
  description: Our product catalog API unlocks the ability to send high-performing journeys such as back in stock, low inventory, and price drop.
  x-beta: false
paths:
  /product-catalog/uploads:
    x-external: true
    description: 'Upload Product Catalog

      '
    post:
      x-external: true
      x-emits-event: true
      security:
      - OAuthFlow:
        - product_catalogs:write
      summary: Upload Product Catalog
      description: 'Make a call to this endpoint to start sending Attentive your full or partial product catalog.

        The process starts with a POST to this endpoint, where you will receive a pre-signed AWS S3 URL. You can

        use any language''s http request libraries for uploading a file via HTTP. Here''s how to do it with `curl` as an example


        ```

        curl --upload-file ${fileNameLocally} ${presignedURL}

        ```


        and here''s an example in Python

        ```python

        import requests

        with open(filepath, ''rb'') as f:

        r = requests.put(upload_url, data=f)

        ```


        Here are examples from AWS on how to send the file over in popular programming languages. Note that you aren''t interested in

        the portion of these examples where they are generating the pre-signed URL, but simply the http call to upload the file to the URL.


        Once your full or partial product catalog begins to upload, the status is updated to

        `validating` while it''s processing and the file is checked for errors. After the upload is

        validated, the status is updated to `validated`. Once the catalog is saved,

        the status is updated to `completed`. In cases where there are errors saving

        the data, Attentive Engineering is notified and will contact you.


        To ensure there are no validation errors in the file, you can set `validateOnly` parameter

        to `true` to avoid saving any data. We highly recommend this during your development to get a

        faster feedback loop on any validation errors as you generate files.


        If there are no errors returned in the upload response, your product catalog uploaded

        successfully.'
      operationId: postUpload
      tags:
      - Product Catalog
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogUploadRequest'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogUploadResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      x-external: true
      security:
      - OAuthFlow:
        - product_catalogs:read
      tags:
      - Product Catalog
      summary: View Recent Catalog Uploads
      description: 'Make a call to this endpoint to list recent catalog uploads with their statuses to gain visibility into the ingestion workflow in order of creation. See the POST of this endpoint for details.

        `Expires` indicates how long you can wait before uploading the product catalog file. If the catalog upload expires, then we will no longer process the file that you upload and you will need to initiate a new catalog upload.'
      operationId: getUploads
      responses:
        '200':
          description: returns the list of uploads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CatalogUploadResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /product-catalog/uploads/{uploadId}:
    x-external: true
    description: 'Making a GET request with the uploadID from your original catalog upload POST will give you the updated information on how the upload is progressing. You can also use the list endpoint as well to retrieve the same data. Please see the POST of `/product-catalog/uploads` for more detail.

      '
    get:
      security:
      - OAuthFlow:
        - product_catalogs:read
      summary: Lookup Product Catalog Ingestion
      tags:
      - Product Catalog
      operationId: lookupUpload
      parameters:
      - name: uploadId
        in: path
        description: The upload ID returned from a previous call
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the provided upload status update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogUploadResponse'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InvalidParameter:
      description: Invalid parameter in request query or body
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized
    NotFound:
      description: The specified resource was not found
    AccessDenied:
      description: Access Denied
    TooManyRequests:
      description: The user has sent too many requests in a given amount of time
  schemas:
    CatalogUploadRequest:
      type: object
      properties:
        validateOnly:
          type: boolean
          description: If set to true, then data will not ingest and only validate the file.
          default: false
    CatalogUploadErrorResponse:
      type: object
      properties:
        errorType:
          type: string
          description: The class of validation error
        errorMessage:
          type: string
          description: Detailed validation error message
        lineNum:
          type: integer
          format: int64
          description: The line number for the given validation error in your file/catalog upload
    CatalogUploadResponse:
      type: object
      properties:
        uploadId:
          type: string
          description: The identifier for this product catalog upload
        status:
          type: string
          description: 'The workflow state the product catalog upload is in. Workflow is `initialized` -> `validating` -> `validated` -> `completed`. The ideal end state is to reach `completed` without any validation errors. This indicates Attentive ingested everything in your upload.

            '
        errors:
          type: array
          description: 'The format validation errors that were thrown. We show up to 10 errors for every validation type to reduce noise.

            '
          items:
            $ref: '#/components/schemas/CatalogUploadErrorResponse'
        productsReceived:
          type: integer
          format: int64
          description: The number of products we've so far seen for validation in your upload
        productsProcessed:
          type: integer
          format: int64
          description: The number of products we've successfully validated in your upload
        lastUpdated:
          type: string
          description: When Attentive has last updated the status and stats
        expires:
          type: string
          description: When this catalog upload will no longer be available
        uploadUrl:
          type: string
          description: The pre-signed URL to upload your product catalog to
        validateOnly:
          type: boolean
          description: 'Flag for avoiding saving the data. If set to `true`, the data will not be saved by Attentive. Useful for testing the validation

            '
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuthFlow:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code grant flow. [More info](https://docs.attentivemobile.com/pages/authentication/)
      flows:
        authorizationCode:
          authorizationUrl: https://ui-devel.attentivemobile.com/integrations/oauth-install?client_id={clientId}&redirect_uri={redirectUri}&scope={scope}
          tokenUrl: https://api.attentivemobile.com/v1/authorization-codes/tokens
          scopes:
            attributes:write: read and write custom attributes
            subscriptions:write: read and write subscriptions
            events:write: read and write custom events
            ecommerce:write: read and write ecommerce events
            segments:write: read and write segments
            segments:read: read segments
x-readme:
  explorer-enabled: false
