openapi: 3.2.0
info:
  description: For any questions, reach out to your Attentive point of contact (if applicable) or api@attentivemobile.com.
  title: Attentive Privacy Request API
  version: ''
servers:
- url: https://api.attentivemobile.com/v1
  description: Attentive API
security:
- bearerAuth: []
tags:
- name: Privacy Request
  description: 'You can use the Privacy Request API in order to comply with California Consumer Privacy Act

    deletion requests through Attentive.'
  x-beta: false
paths:
  /privacy/delete-request:
    post:
      x-external: true
      x-emits-event: true
      summary: Add a deletion request
      description: Make a call to this endpoint to create a new privacy deletion request. This will delete a subscriber within thirty days, provided the call was successful. Use the GET endpoint with the id returned to confirm deletion.
      security:
      - OAuthFlow:
        - privacy_requests:write
      tags:
      - Privacy Request
      operationId: addDeleteRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyRequestAddDeleteEventDto'
      responses:
        '200':
          description: Delete request added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestDto'
              example:
                id: 123abc
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestErrorDto'
              example:
                error: Must either specify subscriberPhone or subscriberEmail
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /privacy/delete-request/{id}:
    get:
      x-external: true
      x-emits-event: true
      summary: Get a CCPA delete request by Id
      security:
      - OAuthFlow:
        - privacy_requests:read
      tags:
      - Privacy Request
      operationId: getDeleteRequest
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: Alphanumeric ID of the request to get
      responses:
        '200':
          description: Delete request fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestDto'
              example:
                id: 123abc
                processed: true
                type: DELETE
                subjectPhone: +*****5555
                subjectEmail: a**@website.com
                requestMsg: The subscriber requested to be removed
                requestDateTime: 2020-09-02T17:44:23.875+0000
                processingStartDateTime: 2020-09-02T17:45:23.875+0000
                processingEndDateTime: 2020-09-02T17:46:23.875+0000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  responses:
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized
    NotFound:
      description: The specified resource was not found
    AccessDenied:
      description: Access Denied
    TooManyRequests:
      description: The user has sent too many requests in a given amount of time
  schemas:
    PrivacyRequestAddDeleteEventDto:
      type: object
      properties:
        subjectEmail:
          type: string
          description: Email of a subscriber. Only required if __subjectPhone__ is empty.
        subjectPhone:
          type: string
          description: Phone of a subscriber. Only required if __subjectEmail__ is empty.
        requestMsg:
          type: string
          description: An optional message for an audit trail.
        clientUserId:
          type: string
          description: ClientUserId of a subscriber. Only required if __subjectEmail__ and __subjectPhone__ is empty.
    PrivacyRequestErrorDto:
      type: object
      properties:
        error:
          type: string
          description: Error Message
    PrivacyRequestDto:
      type: object
      properties:
        id:
          type: string
          description: ID of the privacy request.
        processed:
          type: boolean
          description: Status of the request.
        type:
          type: string
          description: Type of the request.
        subjectEmail:
          type: string
          description: Email of a subscriber.
        subjectPhone:
          type: string
          description: Phone of a subscriber.
        requestMsg:
          type: string
          description: An optional message for an audit trail.
        requestDateTime:
          type: string
          description: Timestamp of when the request was made.
        processingStartDateTime:
          type: string
          description: Timestamp of when processing of the request began.
        processingEndDateTime:
          type: string
          description: Timestamp of when processing of the request completed.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuthFlow:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code grant flow. [More info](https://docs.attentivemobile.com/pages/authentication/)
      flows:
        authorizationCode:
          authorizationUrl: https://ui-devel.attentivemobile.com/integrations/oauth-install?client_id={clientId}&redirect_uri={redirectUri}&scope={scope}
          tokenUrl: https://api.attentivemobile.com/v1/authorization-codes/tokens
          scopes:
            attributes:write: read and write custom attributes
            subscriptions:write: read and write subscriptions
            events:write: read and write custom events
            ecommerce:write: read and write ecommerce events
            segments:write: read and write segments
            segments:read: read segments
x-readme:
  explorer-enabled: false
